extends base

block content
    main.home.thankyou
      .home__container
        .image-container
          img(src='img/donation-illustration.svg' alt='donation illustration')
        .text-container
          h3 Thank you For Contributing to the Sparks Foundation.